<MudAppBar>
    <MudText Typo="Typo.h5" Class="mr-8">
        <b><span style="color: #EF6C00">Masala</span> On Wheels.</b>
    </MudText>

    <MudButton Variant="Variant.Text"
               Color="Color.Primary"
               Class="ml-4 mr-4">
        Menu
    </MudButton>
    <MudButton Variant="Variant.Text"
               Color="Color.Default"
               Class="ml-4 mr-4">
        About
    </MudButton>
    <MudButton Variant="Variant.Text"
               Color="Color.Default"
               Class="ml-4 mr-4">
        Contact
    </MudButton>

    <MudSpacer />

    <MudIcon Icon="@Icons.Material.Filled.LocationOn"
             Color="Color.Error" />
    <MudButton Variant="Variant.Text"
               Class="mr-4">
        Georgetown, Ky
    </MudButton>

    <MudIconButton Icon="@Icons.Material.Outlined.ShoppingCart"
                   Color="@_shoppingCartColor"
                   Edge="Edge.End"
                   Class="mr-4 ml-4"
                   OnClick="@((e) => DrawerToggle())" />
</MudAppBar>
